%section.product
  = link_to gfx.name, display_product_path(:type => gfx.type, :id => gfx.id), :class => "product-name"
  %br/
  .product-img
    = link_to image_tag("Gfx/Gfx_#{gfx.id}.jpg"), display_product_path(:type => gfx.type, :id => gfx.id), :class => "product-name"
    %br/
  %section.product-info
    Details:
    %br/
    Memory: #{gfx.memory}GB
    %br/
    Core Clock: #{gfx.coreclock}MHz
    %br/
    Memory Clock: #{gfx.memoryclock}Mhz
    %br/
    Price: $#{gfx.price.round(2)}
    %br/
    - if not request.env['PATH_INFO'] == "/cart"
      = link_to 'Buy', add_cart_path(:type => gfx.type, :id => gfx.id, :class => "buy")