<section class="product">
  <%= link_to ram.name, display_product_path(:type => ram.type, :id => ram.id), :class => "product-name" %><br />
  <div class="product-img">
    <%= link_to image_tag("Ram/Ram_#{ram.id}.jpg"), display_product_path(:type => ram.type, :id => ram.id), :class => "product-name" %><br />
  </div>
  <section class="product-info">
    Details:<br />
    Capacity: <%= ram.capacity %>GB<br />
    Clocks: <%= ram.clocks %><br />
    Speed: <%= ram.speed %><br />
    Price: $<%= ram.price.round(2) %><br />
  </section>
</section>