<div class="product">
  <div class="product_image">
    <%= image_tag "Ram/Ram_#{ram.id}.jpg" %><br />
  </div>
  Name: <%= p.name %><br />
  Clocks: <%= p.clocks %><br />
  Speed: <%= p.speed %><br />
  Price: $<%= p.price %><br />
</div>