<section id="container-main">
  <section class="section">
    <h2>Products</h2>
    <h2><%= link_to 'CPU', '#', :class => "cpu-drop" %></h2>
    <section class="cpu-section">
      <%= render @cpus %>
    </section>
  </section>
  
  <section class="section">
    <h2><%= link_to 'RAM', '#', :class => "ram-drop" %></h2>
    <section class="ram-section">
      <%= render @rams %>
    </section>
  </section>

  <section class="section">
    <h2><%= link_to'Graphics', '#', :class => "gfx-drop" %></h2>
    <section class="gfx-section">
      <%= render @gfxes %>
    </section>
  </section>
</section>