<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Products', product_path %></li>
    <li><%= link_to 'Build PC', buildpc_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><%= render 'layouts/search' %></li>
  </ul>
</nav>